<div class="main">
	<div class="chatheader"></div>
		<% @event.posts.reverse_each do |post| %>
			<p> <%= post.user.email %></p>
			<p><%= post.body %></p>
			<p><%= time_ago_in_words(post.created_at) %> ago</p>
			<hr>
		<% end %>

	<div class="chatbox">
			<%= form_for [@event, @post] do |f| %>
			<%= f.label :body %><br>
			<%= f.text_area :body %><br>

			<%= f.submit %><br>
		<% end %>
	</div>
</div>





