<div class="mainchat">
	<div class="chatheader"></div>
		<% @event.posts.reverse_each do |post| %>
			<p> <%= post.user.email %></p>
			<p class="postbody"><%= post.body %></p>
			<p class="datetime"><%= time_ago_in_words(post.created_at) %> ago</p>
			<hr class="chatbreak">
		<% end %>

	<div class="chatbox">
			<%= form_for [@event, @post] do |f| %>
			<%= f.text_area :body, placeholder: "chat with friends" %><br>

			<%= f.submit %><br>
		<% end %>
	</div>
</div>





