<h1>Create a new Event with Event Hop!</h1>

<!-- Here should have all the info for the Place Selected -->
<!-- Place.name -->
<!-- Place.address -->
<!-- Place.website -->


<p> <%= @place.name %> </p>
<p> <%= @place.address %></p>
<p> <%= @place.website %></p>
<p> <%= @place.description %> </p>

<%= form_for [@place, @event] do |f| %>

	<p>
		<%= f.label :start %>
		<%= f.datetime_select :start, required: true%>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.label :email %>
		<%= f.text_area :email, required: true%>
	</p>

	<%= f.submit %>

<% end %>
