<div class="pagetitle">
	<h1>Create a new Event with Event Hop!</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Event Hop Location:</h2>
		<div class="eventinfo">
			<h2> <%= @place.name %> </h2>
			<h4> <%= @place.address %></h4>
			<h4> <%= @place.website %></h4>
			<h4> <%= @place.description %> </h4>
			<br>
			<h4> <%= image_tag @place.avatar.url(:medium) %> </h4>
		</div>
		</div>

		<div class="col-md-8">
				<h3>Simply Select a Time and Day to Create the Event</h3>
				<h3>Include the emails of your friends to send out invites for them to join!</h3>
			<div class="eventform">
				<%= form_for [@place, @event] do |f| %>
				<div class="form">
					<%= f.label :start, "Event Start Time" %><br>
					<%= f.datetime_select :start, {:start_year => Date.today.year,:minute_step => 15, :ampm => true} ,required: true%>
				</div>

				<div class="form">
					<%= f.label :description, "Describe the Event." %><br>
					<%= f.text_area :description %>
				</div>

				<div class="form">
					<%= f.label :email, "Email Your Friends an Invite!" %><br>
					<%= f.text_area :email, required: true%>
				</div>

				<div class="form">
					<div class="submitbutton"> <%= f.submit %> </div>
				</div>

				<% end %>
			</div>
		</div>

	</div>
</div>
