<h1><%= @place.name %></h1>

<p>Description: <%= @place.description %></p>


<div style="width: 800px">
	<div id="map" style="width: 100%; height: 400px"></div>
</div>


<!-- jQuery to handle the created of the map -->

<!-- jQuery to handle the created of the map -->


<h3>Users going!</h3>

<% @event.users.each do |user| %>
	<%= user.email %>
	<hr>
<% end %>



<!-- Shows all the posts for this event --> 

	<!-- <%= @event.posts.each do |post| %>
		<%= post.user.email %>
		<%= post.body %>
	<% end %> -->

<!-- Shows all the posts for this event --> 

<h2>Chat Box</h2>

