
<h1 class="eventname"><%= @place.name %></h1>

<% if current_user == nil %>
	<%= render 'join_eventform' %>
<% end %>

<p class="animated bounceIn">Description: <%= @place.description %></p>

<div  class="gmaps">
	<div style="width: 600px" center>
		<div id="map" style="width: 100%; height: 400px"></div>
	</div>
</div>

<div class="table">
	<h3>Users going!</h3>

	<% @event.users.each do |user| %>
		<%= user.email %>
		<hr>
	<% end %>
</div>

<!-- Shows all the posts for this event --> 
<%= render 'form' %>
<!-- Shows all the posts for this event --> 