<div class="pagetitle">
	<h1>Create a new Place!</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="eventform">
				<%= form_for @place do |f| %>

					<div class="form">
						<%= f.label :name %>
						<%= f.text_field :name %>
					</div>

					<div class="form">
						<%= f.label :address %>
						<%= f.text_field :address %>
					</div>

					<div class="form">
						<%= f.label :zipcode %>
						<%= f.text_field :zipcode %>
					</div>

					<div class="form">
						<%= f.label :website %>
						<%= f.text_field :website %>
					</div>

					<div class="form">
						<%= f.label :description %>
						<%= f.text_field :description %>
					</div>

					<div class="form">
						<%= f.label :avatar %>
						<%= f.file_field :avatar %>
					</div>

					<div class="form">
						<%= f.submit %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
