<h1>Places#new</h1>

<%= form_for @place do |f| %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :address %>
		<%= f.text_field :address %>
	</p>

	<p>
		<%= f.label :zipcode %>
		<%= f.text_field :zipcode %>
	</p>

	<p>
		<%= f.label :website %>
		<%= f.text_field :website %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_field :description %>
	</p>

	<p>
		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
